<!-- <%= render @post %> -->

<center><h1>Astuces n°<%= @post.id %></h1></center>

<center><h1><%= @post.title %></h2></center>

<center><h4><p><%= @post.content %></p></h4></center>
<li><p>Créé le <%= @post.created_at %></p></li>
<li><p>Créé par <%= @post.user.first_name.nil? ? @post.user.email : "#{@post.user.first_name} #{@post.user.last_name}" %></p></li>


<div><center>
  <%= button_to "Modifier cette astuce", edit_post_path(@post) %>
  <%= button_to "Supprimer cette astuce", @post, method: :delete %>
  <%= link_to "Retourner aux astuces", posts_path %>
  <%= link_to "Retourner à l'accueil", root_path %>
</div></center>
